<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/07_dynamic_list_group" target="_blank">Target</a>
</p>

<%# The below code creates an array of 10 random names %>
<%= names = Array.new(10) { Faker::Name.unique.name  } %>


<div class="container-sm">
  <ul class="list-group">
  
    <% names.each do |name| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= name %>
      <span class="badge text-bg-primary rounded-pill">
        <%= rand(1..10) %>
      </span>
    </li>
    <% end %>
  
  </ul>
</div>
